* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
  margin: 0 auto;
}

.table {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  width: 70vw;
}

.box-title {
  padding: 1rem;
  background-color: #4caf50;
  color: #fff;
  width: 70vw;
}
.box-title .title {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  padding: 0.4rem;
}

.table-head {
  padding: 0.4rem 1rem;
  font-size: 13px;
  font-weight: bold;
  align-items: center;
  color: #999999;
}

.position {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
  width: 2rem;
}

.name-club {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
  width: 10rem;
  letter-spacing: 1px;
}

.punctuation {
  font-weight: bold;
}

.classification {
  text-align: center;
  font-size: 14px;
  color: #666666;
  font-weight: none;
  /* revisar */
  min-width: 1rem;
}

/* colums */
.classification:nth-child(odd) {
  background: #f7f7f7;
}
tr:nth-child(5) {
  border-top: 2px solid #cccccc;
}
tr:nth-child(17) {
  border-top: 2px solid #cccccc;
}

/* numbers */
.liberators {
  color: #003366;
}
.p-liberators {
  color: #1398be;
}

.s-american {
  color: #de9800;
}
.sn {
  color: #cccccc;
}
.rb {
  color: #c91b04;
}

/* footer */
.desc-classification {
  color: #8f8f8f;
  text-align: left;
  font-size: 10px;
}
.list-liberators,
.pre-liberators,
.south-american,
.zone-relegation {
  padding-left: 10px;
}

.list-liberators:before {
  content: "";
  margin-right: 10px;
  border-left: 10px solid #003366;
  border-radius: 2px;
}
.pre-liberators:before {
  content: "";
  margin-right: 10px;
  border-left: 10px solid #1398be;
  border-radius: 2px;
}
.south-american:before {
  content: "";
  margin-right: 10px;
  border-left: 10px solid #de9800;
  border-radius: 2px;
}
.zone-relegation:before {
  content: "";
  margin-right: 10px;
  border-left: 10px solid #c91b04;
  border-radius: 2px;
}

.legend {
  padding: 10px 0 0 12px;
}

.the-legend-desc,
.desc {
  text-align: left;
  color: #555555;
  font-size: 10px;
}
.the-legend-desc {
  font-weight: bold;
}
.desc {
  padding-right: 5px;
}
